/* Style start here */

body {
	font: 15px/28px arial, sans-serif;
	background-image: url(picture/2.png);
}

.top-bar {
	position: fixed;
	height: 44px;
	top: 0;
	left: 0;
	right: 0;
	background-image: url(picture/1.png);
	border-right: 1px solid black;
	border-left: 1px solid black;
	border-bottom:4px solid  salmon;
	z-index: 9999;
}

.top-bar a:hover{
	background-color: aqua;
	color: white;
}

.top-bar a{
	text-decoration: none;
}

.top-bar ul li {
	display: inline-block;
	margin-right: 4px;
	margin-top: 15px;
	margin-left: 20px;
}

.container {
	position: relative;
	width: 960px;
	margin: 80px auto;
	background-color: gainsboro;
	border: 2px solid black;
}

/*	yt	*/

.yt {
	display: inline-block;
	background-image: url(picture/yt.png);
	width: 275px;
	height: 88px;
	text-decoration: none;
	position: absolute;
	top: -25px;
	right: 0px;
}

/*	Body */

.header {
	margin: 5px;
	margin-left: 15px;
}

.header h1 {
	margin-bottom: 15px;
	margin-top: -5px;
	padding-top: 8px;
	font-size: 40px;
}

.header ul li {
	display: inline-block;
	margin-right: 3px;
}

.header a {
	text-decoration: none;
	color: salmon;
}

.header a:hover {
	background-color: lightskyblue;
	color: white;
}

.hero {
	height: 333px;
	background-image: url(picture/hero.png);
	background-size: cover;
	background-position-y: -88px;
	border-top: 5px solid rgba(137, 255, 27, 0.667);
	border-bottom: 5px solid rgba(192, 17, 17, 0.479);
}

.content h2 {
	margin: 5px;
	font-size: 28px;
}

.content p {
	margin: 8px;
	font: 12px/16px arial;
}

.main {
	width: 600px;
	padding: 10px;
	float: left;
	box-sizing: border-box;
}

/* Micro clear */

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

/*	Sidebar	*/

.sidebar{
	width: 300px;
	float: right;
	padding: 10px;
	box-sizing: border-box;
}

.sidebar h3{
	font-weight: bold;
	font-size: 24;
}

.sidebar img {
	float: left;
	margin-right: 8px;
	margin-top: 3px;
}

/*	footer	*/

.footer {
	background-color: rgb(34, 31, 31);
	padding: 16px;
	box-sizing: border-box;
}

.footer p {
	text-align: center;
	color: white;
}

