/* Style start here */

body {
	font: 15px/28px arial, sans-serif;
	background-image: url(picture/2.png);
}

.container {
	width: 960px;
	margin: auto;
	background-color: gainsboro;
	border: 2px solid black;
}

.header {
	margin: 5px;
	margin-left: 15px;
}

.header h1 {
	margin-bottom: 15px;
	margin-top: -5px;
	padding-top: 8px;
	font-size: 40px;
}

.header ul li {
	display: inline-block;
	margin-right: 3px;
}

.header a {
	text-decoration: none;
	color: salmon;
}

.header a:hover {
	background-color: lightskyblue;
	color: white;
}

.hero {
	height: 333px;
	background-image: url(picture/hero.png);
	background-size: cover;
	background-position-y: -88px;
	border-top: 5px solid rgba(137, 255, 27, 0.667);
	border-bottom: 5px solid rgba(192, 17, 17, 0.479);
}

.content h2 {
	margin: 5px;
	font-size: 28px;
}

.content p {
	margin: 8px;
	font: 12px/16px arial;
}

.main {
	width: 600px;
	padding: 10px;
	float: left;
	box-sizing: border-box;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.sidebar{
	width: 300px;
	float: right;
	padding: 10px;
	box-sizing: border-box;
}

.sidebar h3{
	font-weight: bold;
	font-size: 24;
}

.sidebar img {
	float: left;
	margin-right: 8px;
	margin-top: 3px;
}

.footer {
	background-color: rgb(34, 31, 31);
	padding: 16px;
	box-sizing: border-box;
}

.footer p {
	text-align: center;
	color: white;
}

